<div id="F-console-center">
	
	<table class="wrapper" content="map"><td>
		<?php template('Game_Console_Map'); ?>
	</td></table>
	
	<table class="wrapper" content="item_param"><td>
		<div id="F-console-item_param"></div>
	</td></table>
	
	<table class="wrapper" content="collecting"><td>
		<div id="F-console-collecting">
			<div class="text">你拾取到了物品</div>
			<div class="item"><div class="n"></div><div class="k"></div><div class="detial"><div class="e"></div><div class="s"></div></div></div>
			<button action="collect">拾取</button>
			<button action="drop">丢弃</button>
			<button action="merge">合并</button>
		</div>
	</td></table>
	
	<table class="wrapper" content="shop"><td>
		<div id="F-console-shop">
			<div class="counter">
				<?php foreach($GLOBALS['shopinfo'] as $key => $value){ ?>
					<div cid=<?php echo $key; ?>><?php echo $value; ?></div>
				<?php } ?>
				<div class="clear"></div>
			</div>
			<div class="goods"></div>
			<div class="bottom">
				<div class="subtotal"></div>
				<button class="back">返回</button>
				<button class="submit">提交</button>
				<div class="clear"></div>
			</div>
		</div>
	</td></table>
	
	<table class="wrapper" content="battle"><td>
		<div id="F-console-battle">
			<div class="player">
				<div class="name"></div>
				<div class="IDcard">
					<div class="number"></div>
					<div class="gender"></div>
				</div>
				<img class="avatar">
				<div class="status"></div>
				<div class="action"></div>
				<div class="back">按任意键继续</div>
			</div>
		</div>
	</td></table>
	
	<table class="wrapper" content="wound_dressing"><td>
		<div id="F-console-wound_dressing">
			<div class="title"></div>
			<div class="buttons"></div>
		</div>
	</td></table>
	
	<div id="F-console-feedback"></div>
</div>

<?php template('Game_Console_Chat'); ?>

<div id="F-console-left">
	<?php template('Game_Console_Playerinfo'); ?>
</div>

<div id="F-console-buffinfo"></div>
<div id="F-console-notice"></div>

<div id="F-console-right">
	<?php template('Game_Console_Panel'); ?>
</div>

<div id="F-console-brief">
	<div class="brief frame"></div>
	<div class="die frame">
		<div class="text">
			你掛了<br><br>
			按下ESC鍵繼續
		</div>
	</div>
	<div class="end frame">
		<div class="text">
			游戏结束
		</div>
	</div>
</div>