<div id="history">
	<div class="title">历史战绩</div>
	<?php
		if(!$GLOBALS['data'] || sizeof($GLOBALS['data']) === 0){
			echo '<div class="no_result">没有查询到结果</div>';
		}else{
			echo '<div class="table">';
			foreach($GLOBALS['data'] as $game){
				echo '<div class="game">';
					echo '<div class="num">第<span class="gamenum">'.$game['gamenum'].'</span>回</div>';
					echo '<div class="type">'.$GLOBALS['ending_type'][$game['type']].'</div>';
					echo '<div class="clear"></div>';
					if(sizeof($game['winner_info']) > 0){
						foreach($game['winner_info'] as $winner){
							echo '<div class="winner">';
								echo '<div class="winner_icon"><img src="'.$winner['icon'].'"></div>';
								echo '<div class="winner_name">'.$winner['name'].'</div>';
								echo '<div class="winner_motto">'.$winner['motto'].'</div>';
							echo '</div>';
						}
					}
				echo '</div>';
			}
			echo '</div>';
		}
	?>
	<div class="pages">
		<?php
		if($GLOBALS['current_page'] > 1){
			echo '<a class="prev" href="'.$GLOBALS['pages'][$GLOBALS['current_page'] - 1].'">上一页</a> ';
		}
		
		if($GLOBALS['current_page'] > 6){
			echo '<a class="page" href="history.php?start=0&show="'.$GLOBALS['show'].'>1</a> ';
			echo '... ';
		}
		
		foreach($GLOBALS['pages'] as $p => $url){
			echo '<a class="page'.(($p == $GLOBALS['current_page']) ? ' current' : '').'" href="'.$url.'">'.$p.'</a> ';
		}
		
		if($GLOBALS['current_page'] < $GLOBALS['total_pages'] - 5){
			echo '... ';
			echo '<a class="page" href="history.php?start='.$GLOBALS['total_items'].'&show="'.$GLOBALS['show'].'>'.$GLOBALS['total_pages'].'</a> ';
		}
		
		if($GLOBALS['current_page'] < $GLOBALS['total_pages']){
			echo '<a class="next" href="'.$GLOBALS['pages'][$GLOBALS['current_page'] + 1].'">下一页</a>';
		}
		?>
	</div>
</div>

<script type="text/javascript">
	$("#history .game").click(function(e){
		var gamenum = $(this).children(".num").children(".gamenum").html();
		window.open("history.php?detial="+gamenum, undefined, "directories=no,location=yes,menubar=no,status=no,toolbar=no");
	});
</script>